{% extends 'quora/base.html' %}

{% block header %}
  <h2><strong>{{question.text}}</strong></h2>
{% endblock header %}

{% block content %}

<h4><p><a href="{% url 'quora:answer_question' question.id %}">Answer Question</a></p></h4>

{% for answer in answers %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>
            {{ answer.text }}
            <small>
                {{answer.rating}}
            </small>
        </h3>
      </div>
      <div class="panel-body">
        <p>Upvote-Downvote</p>
        <p class="text-right"> On {{ answer.date_added|date:'M d, Y H:i' }} By {{answer.owner.username.title}}</p>
      </div>
    </div>
        <a href="{% url 'quora:question' question.id %}">see answers</a>
   {% empty %}
    <h4><br>There are no answers for this question yet.</h4>
  {% endfor %}
{% endblock content %}