{% extends "quora/base.html" %}

{% block header %}
 <h2>Tags</h2>
{% endblock header %}

{% block content %}

{% for tag in tags %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>
			<a href="{% url 'quora:tag' tag.id %}">{{ tag.text }}</a>
        </h4>
      </div>
      <div class="panel-body">
        <p>{{tag.description}}</p>
      </div>
    </div>
        
   {% empty %}
    <h4><br>No tags have been added yet.</h4>
  {% endfor %}

<a href="{% url 'quora:new_tag' %}">Add a new tag:</a>

{% endblock content %}